<div class="container">
    <h1>Card Wars!</h1>
    
    <p>You are playing the <%= round.deck.name %> deck.</p>
    
    <p>You answered
        <% if outcome %>
            correctly!
        <% else %>
            incorrectly! The corrrect answer was: '<%= answer %>'.
        <% end %></p>

    <p><a href="/rounds/<%= round.id %>">Try another question!</a></p>

    
</div>
