<div class="container">
    <h1>Card Wars!</h1>
    
    <p>Congratulations on finishing the <%= round.deck.name %> deck!</p>

    <p>You answered <%= correct %> / <%= round.deck.cards.length %> cards correctly on the first try. You submitted <%= round.num_guesses %> guesses in this round.</p>

    <p><a href="/">Return home to pick a new deck</a></p>

</div>
