<center>
 <% if @errors %>
  <div>
     <span>Please fix the following error(s):</span>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
  </div>
<% end %>
  
  <h4>Want To Test Your Smarts? Create A Username and Password Here:<h4>
  <br>
    <br>
  <form action="/index" method="POST">
  Username:<input type="text" name="user[username]" placeholder="Enter New Username">
    <br>
  Password: <input type="password" name="user[password_hash]" placeholder="Enter New Password">
    <br>
      <br>
   <input type="submit" value="Register Me">
</form>
  
