<<<<<<< HEAD
<div class="container">
  <h1><a href="/">Welcome to Card Wars!</a></h1>

  <a href="/users/new">Register</a>
  <a href="/sessions/new">Login</a>
  
  <% available_decks.each do |d| %>
  <h2><a href="/decks/<%= d.id %>"><%= d.name %></a></h2>
  <% end %>
  
</div>
=======
<center>
  <h1>Welcome to Card Wars!</h1>
>>>>>>> Allows For User Sign In/Out; Layout For All Pages-Without Backround Images
